

 /* Custom styles for the header */
 .navbar {
     background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
 }

 .navbar-brand {
     font-weight: bold;
     color: #fff;
     position: relative;
 }

 .nav-link {
     color: #fff;
     margin-right: 15px;
 }

 .nav-link:hover {
     color: #f8f9fa;
 }

 .btn-explore {
     background-color: #ff4081;
     color: white;
     border: none;
     border-radius: 20px;
     padding: 10px 20px;
     transition: all 0.3s;
 }

 .btn-explore:hover {
     background-color: #e73370;
 }

 /* Align the toggle button to the right and logo to the left on mobile */
 .navbar-toggler {
     border: none;
 }

 .navbar-nav {
     flex-grow: 1;
 }

 @media (max-width: 767px) {
     .navbar-brand {
         position: absolute;
         left: 0;
     }

     .navbar-toggler {
         position: absolute;
         right: 0;
     }
 }

 .hero {
    background-image: url("../images/bg.png");
 }

